@import "./styles/fonts.css";

body {
  margin: 0;
  font-family: "Poppins";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.css-8f57v9{
  padding: 1rem;
}
.css-13j2prs{
  padding-top: 1rem;
}